@model List<Nhom09.Models.CartItem>


<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Danh mục giỏ hàng</h2>

                </div>
                <div class="page_link">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <a asp-area="" asp-controller="Carts" asp-action="Index">Giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                @if (Model.Count > 0)
                {
                    decimal total = 0;
                    int stt = 1;

                    <table class="table">
                        <tr>
                            <th>STT</th>
                            <th></th>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                        @foreach (var cartitem in Model)
                        {
                            var thanhtien = cartitem.quantity * cartitem.product.Price;
                            total += thanhtien;

                            <tr>
                                <td>@(stt++)</td>
                                <td><img src="~/img/ImageSP/@cartitem.product.Image" style="width: 100px;" /></td>
                                <td>@cartitem.product.Name</td>
                                <td>@(cartitem.product.Price.ToString("n0"))</td>
                                <td><input min="1"asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.Id}")" /></td>
                                <td>@(thanhtien.ToString("n0"))</td>
                                <td>
                                    <button class="btn btn-success updatecartitem"
                                    data-productid="@cartitem.product.Id">
                                        Cập nhật
                                    </button>
                                    <a asp-route="removecart" asp-route-productid="@cartitem.product.Id"
                               class="btn btn-danger">Xóa</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td colspan="4" class="text-right" style="font-weight:bold">Tổng tiền</td>
                            <td style="color:red;font-weight:bold">@(total.ToString("n0"))</td>
                            <td></td>
                        </tr>
                        <tr>
                            
                            <td></td>
                            <td>
                                <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Tiếp tục mua hàng</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a asp-controller="Carts" asp-action="CheckOuts" class="btn btn-success">Đặt hàng</a></td>
                        </tr>
                    </table>
                    

                    @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $(".updatecartitem").click(function (event) {
                                event.preventDefault();
                                var productid = $(this).attr("data-productid");
                                var quantity = $("#quantity-" + productid).val();
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.RouteUrl("updatecart")",
                                    data: {
                                        productid: productid,
                                        quantity: quantity
                                    },
                                    success: function (result) {
                                        window.location.href = "@Url.RouteUrl("cart")";
                                    }
                                });
                            });
                        });
                    </script>
                }

                }
                else
                {
                    <p class="alert alert-danger">Giỏ hàng trống</p>
                }
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
